.home{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.877);
  color: rgba(255, 255, 255, 0.623);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-header{
  text-decoration: underline;
}

form >input{
  border: 1px solid black;
  border-radius: 10px;
}

form > label{
  margin-right: 10px;
}

form > button{
  color: #000000;
  background-color: rgba(6, 139, 255, 0.658);
  border: none;
  border-radius: 10px;
}