.header{
    text-align: center;
}
.grid{
    padding-left: 30%;
}
.row1,.row2,.row3{
    display: flex;
}
.names{
    display: flex;
    justify-content:space-around;
    padding-right: 50%;
}

.row1 > div,.row2>div,.row3>div{
    width: 80px;
    height: 60px;
    border: 1px solid rgb(138, 238, 7);
    text-align: center;
    align-content:stretch;
    align-items: stretch;
    padding-top: 20px;
    font-size: x-large;
    color: rgba(35, 99, 45, 0.712);
    cursor: pointer;
}

.footer{
    margin-top: 10%;
    text-align: center;
}

button{
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    height: 30px;
    margin-top: 10px;
    width: 246px;
    border: none;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}