.players{
    display: flex;
    justify-content: space-evenly;
    color: rgb(77, 77, 77);
}
.player1,.player2{
    display: flex;
    justify-content: space-evenly;
}
.main {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
.row0,.row1,.row2{
    display: flex;
    justify-content: center;
}
.grid > button{
    width: 100%;
    align-self: center;
    margin-top: 10%;
    background-color: rgb(8, 68, 68);
    border: none;
    color: white;
    height: 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid,.grid>button{
    cursor: pointer;
}

.grid{
    background-color: rgba(145, 184, 255, 0.767);
    padding: 10px;
    border-radius: 10px;
}

.row0>div,.row1>div,.row2>div{
    width: 80px;
    height: 80px;
    text-align: center;
    color: rgb(241, 137, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: rgb(0, 32, 24);
    font-size: xx-large;
}
.zero_zero,.one_zero{
    border-bottom: 2px solid;
    border-right: 2px solid;
}
.zero_one,.one_one{
    border-bottom: 2px solid;
    border-right: 2px solid;
}
.zero_two,.one_two{
    border-bottom: 2px solid;
}
.two_zero,.two_one{
    border-right: 2px solid;
}

#zero_zero,#zero_one,#zero_two,#one_zero,#one_one,#one_two,#two_zero,#two_one,#two_two{
    border: 1px solid black;
    width: 80px;
    display: none;
}